body {
font-familut: "Noto Sans KR", sans-serif;
margin: 0;
padding: 0;
background-color: #f9f9f9;
}
header {
background-color: #004c99;
color: white;
padding: 20px;
text-align: center;
}
nav {
margin-top: 10px
}
nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}
nav a:hover {
text-decoration: underline;
}
main {
padding: 40px;
text-align: center;
}
footer {
background-color: #eee;
text-align: center;
padding: 10px;
position: fixed;
width: 100%;
botton: 0;
}
.board { max-width: 900px; margin: 40px auto; }
table { width: 100%; border-collapse: collapse; }
th, td { padding: 10px; border-bottom: 1px solid #ddd; text-align: left; }
.actions { text-align: right; margin: 20px 0; }
.btn { padding: 8px 14px; border: 1px solid #004c99; background:#004c99; color:#fff; text-decoration:none; border-radius:8px; }
.btn-outline { background:#fff; color:#004c99; }
