body {
font-familut: "Noto Sans KR", sans-serif;
margin: 0;
padding: 0;
background-color: #f9f9f9;
}
header {
background-color: #004c99;
color: white;
padding: 20px;
text-align: center;
}
nav {
margin-top: 10px
}
nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}
nav a:hover {
text-decoration: underline;
}
main {
padding: 40px;
text-align: center;
}
footer {
background-color: #eee;
text-align: center;
padding: 10px;
position: fixed;
width: 100%;
botton: 0;
}
